
/// ----------------------------------------------------------------------------------------------- LAYOUT

@mixin container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

@include b(container) {
    @include container;
}

/// ----------------------------------------------------------------------------------------------- FUNDA HEADER

@include b(funda-header) {
    background: $color--primary;
    padding: 1em 0;
    margin-bottom: 2em;

    img {
        width: 6em;
        display: block;

        @include breakpoint(map-get($breakpoints, on-mobile)) {
            margin: 0 auto;
        }
    }
}
