
/// ----------------------------------------------------------------------------------------------- TILE CONTAINER

@include b(tile-container) {
    @include container;
    $margin: .75em;

    @include b(funda-tile) {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin: $margin;

        @include breakpoint(map-get($breakpoints, tablet)) {
            $amount-calc: 100 / 2;
            $margin-calc: $margin * 2;
            width: calc((#{$amount-calc}% - #{$margin-calc}) - 4px);
        }

        @include breakpoint(map-get($breakpoints, desktop)) {
            $amount-calc: 100 / 3;
            $margin-calc: $margin * 2;
            width: calc((#{$amount-calc}% - #{$margin-calc}) - 4px);
        }
    }
}

/// ----------------------------------------------------------------------------------------------- FUNDA TILE

@include b(funda-tile) {
    box-shadow: .25em .25em 1em rgba($black, .2);
    background: $white;
    border-radius: $global--border-radius;
    overflow: hidden;

    @include e(top) {
        position: relative;
        height: $funda-tile--top-height;
        overflow: hidden;

        @include b(property-image) {
            @include fill-her-up;
            border-radius: $global--border-radius $global--border-radius 0 0;
        }

        @include e(labels) {
            position: absolute;
            top: .5em;
            left: .5em;
            z-index: 2;
        }

        @include b(property-details) {
            position: absolute;
            z-index: 2;
            bottom: 0;
            background: rgba($black, .5);

            h2,
            small {
                color: $white;
            }
        }
    }

    @include e(bottom) {
        border-top: 1px solid $global--border-color;

        @include b(btn) {
            text-align: left;
            font-size: 105%;
            width: 100%;

            svg {
                float: right;
                transition: $global--default-transition;
            }

            &.triggered svg {
                transform: rotate(180deg);
            }
        }
    }
}
