
@include b(tile-container) {
    @include container;
    width: 100%;

    $amount: 3;
    $margin: .5em;

    @include b(funda-tile) {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 100%;

        @include breakpoint(map-get($breakpoints, mobile)) {
            margin: $margin;
            $amount-calc: 100 / $amount;
            $margin-calc: $margin * 2;
            width: calc((#{$amount-calc}% - #{$margin-calc}) - 4px);
        }
    }
}

/// ----------------------------------------------------------------------------------------------- FUNDA TILE

$funda-tile--padding: 1em;

@include b(funda-tile) {
    box-shadow: .25em .25em 1em rgba($black, .2);
    background: $white;
    border-radius: $global--border-radius;
    overflow: hidden;

    @include e(top) {
        position: relative;
         height: 15em;

        @include b(property-image) {
            @include fill-her-up;
        }

        @include e(labels) {
            position: absolute;
            top: .5em;
            left: .5em;
            z-index: 2;
        }

        @include b(property-details) {
            position: absolute;
            z-index: 2;
            bottom: 0;
            background: rgba($black, .5);

            h2,
            small {
                color: $white;
            }
        }
    }

    @include e(center) {
        // background: green;
    }

    @include e(bottom) {
        border-top: 1px solid $global--border-color;

        @include b(btn) {
            text-align: left;
            font-size: 105%;
            width: 100%;

            svg {
                float: right;
                transition: all .2s ease-out;
            }

            &.triggered svg {
                transform: rotate(180deg);
            }
        }
    }
}

@include b(property-details) {
    padding: $funda-tile--padding;
    display: table;
    table-layout: fixed;
    width: 100%;

    @include e(details) {
        display: table-cell;
        line-height: normal;
        vertical-align: middle;

        h2,
        small {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 95%;
        }
    }

    @include e(button) {
        @include square(2.5em);
        display: table-cell;
        vertical-align: middle;

        a {
            @include square(2.5em);
            position: relative;
            display: block;

            svg {
                @include center-it;
            }
        }
    }
}

$property-content--gradient-height: 3em;

@include b(property-content) {
    border-top: 1px solid $global--border-color;
    height: 15em;
    overflow: hidden;
    position: relative;

    @include me(description, additional-information) {
        height: 15em;
        background: $white;
        overflow-y: scroll;
        transition: all .2s ease-out;
        width: calc(100% + 17px); // To hide the scrollbars
        padding: $funda-tile--padding calc(#{$funda-tile--padding} + 17px) $funda-tile--padding $funda-tile--padding;

        @include e(inner) {
            padding: 0 0 $property-content--gradient-height;
        }
    }

    @include e(description) {
        [class$='--triggered'] & {
            transform: translateY(-100%);
        }
    }

    @include e(additional-information) {
        transform: translateY(100%);
        position: absolute;
        top: 0;

        [class$='--triggered'] & {
            transform: none;
        }
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $property-content--gradient-height;
        content: '';
        pointer-events: none;
        background: linear-gradient(rgba($white, 0), $white);
    }
}
