
/// ----------------------------------------------------------------------------------------------- BUTTONMIXIN

@include b(btn) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    background: $button--background;
    border: 1px solid $white;
    color: $button--color;
    cursor: pointer;
    display: inline-block;
    font-family: $type--base-font-family;
    font-size: .9rem;
    line-height: normal;
    padding: 1em;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition: background .1s;
    vertical-align: top;
    font-weight: bold;

    &:hover {
        background: $white;
        color: $color--primary;
    }

    /// ----------------------------------------------------------------------------------------------- MODIFIERS

    @include m(full) {
        width: 100%;
    }

    @include m(transparent) {
        background: none;
        color: $color--primary;
    }

    svg,
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

@include b(zoom-picture) {
    @include circle(2.5em);
    background: rgba($white, .7);

    svg {
        @include square(1em);
        fill: rgba($black, .5);
    }
}

a {
    svg {
        fill: $color--primary;
    }
}