
@mixin btn-base {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    background: $button--background;
    color: $button--color;
    cursor: pointer;
    display: inline-block;
    font-family: $type--base-font-family;
    font-size: .9rem;
    line-height: normal;
    padding: 1em;
    text-align: center;
    transition: background .1s ease-in-out;
    font-weight: bold;
    vertical-align: top;
}

/// ----------------------------------------------------------------------------------------------- BUTTONMIXIN

@include b(btn) {
    @include btn-base;

    &:hover {
        background: $white;
        color: $color--primary;
    }

    /// ----------------------------------------------------------------------------------------------- MODIFIERS

    @include m(full) {
        width: 100%;
    }

    @include m(transparent) {
        background: none;
        color: $color--primary;
    }

    svg,
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

@include b(zoom-picture) {
    @include circle(2.5em);
    background: rgba($white, .7);
    opacity: .8;

    svg {
        @include square(1em);
        fill: rgba($black, .5);
    }

    &:hover {
        opacity: 1;
    }
}

a {
    svg {
        fill: $color--primary;
    }
}