
/// ----------------------------------------------------------------------------------------------- LABEL

@include b(label) {
    font-size: .8rem;
    font-family: $type--base-font-family;
    font-weight: normal;
    padding: .25em .5em .125em;
    position: relative;
    text-transform: none;
    font-weight: bold;
    display: inline-block;
    color: $white;

    + #{&} {
    	margin-left: .5em;
    }

    @include m(new) {
    	background: $color--primary;
    }

    @include m(open-house) {
    	background: #ACC700;
    }
}
