
/// ----------------------------------------------------------------------------------------------- ROBOTO

@font-face {
    font-family: 'ProximaNova';
    src: url('../../web/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../../web/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../../web/fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../../web/fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
